{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for("static", filename="game-style.css") }}">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}


<div class="container d-flex flex-column">
	<div class="d-flex flex-column w-100" id="game-controls">
		<div class="card mb-auto text-center">
			<div class="card-body">
				<h3>0:09</h3>
				<button type="button" class="btn btn-dark" data-toggle="modal"
					data-target="#game-options">Options</button>
			</div>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div>
	<div class="d-flex align-items-center w-100" id="game-container">
		<div class="d-flex flex-column w-100">
			<ul class="list-group list-group-horizontal-md game-item">
				<a href="#" class="list-group-item list-group-item-action"><span class="d-block game-label">Subject</span>{{ group.subject }}</a>
				<a href="#" class="list-group-item list-group-item-action"><span class="d-block game-label">Infinitive</span>{{ group.infinitive }}</a>
				<a href="#" class="list-group-item list-group-item-action"><span class="d-block game-label">Mood</span>{{ group.en_mood }}</a>
				<a href="#" class="list-group-item list-group-item-action"><span class="d-block game-label">Tense</span>{{ group.en_tense }}</a>
			</ul>
			<div class="input-group mb-3 game-item">
				<input type="text" class="form-control" aria-describedby="button-addon2">
					<div class="input-group-append">
						<button class="btn btn-primary" type="button" id="button-addon2">Submit</button>
					</div>
			</div>
				<ul class="list-group text-center">
					<li class="list-group-item list-group-item-success">{{ group.answer }}</li>
					{% if group.translation %}
						<li class="list-group-item">{{ group.translation }}</li>
					{% endif %}
					{% if group.kana %}
						<li class="list-group-item list-group-item-danger">{{ group.kana }}</li>
					{% endif %}
					{% if group.romaji %}
						<li class="list-group-item">{{ group.romaji }}</li>
					{% endif %}
				</ul>
		</div>
	</div>
</div>
<div class="modal fade" id="game-options" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Options</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" id="customSwitch1">
					<label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
				</div>
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dropdown button
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<li class="custom-control custom-switch">
							<input type="checkbox" class="custom-control-input" id="customSwitch2">
							<label class="custom-control-label" for="customSwitch2">Toggle this switch element</label>
						</li>
						<li class="custom-control custom-switch">
							<input type="checkbox" class="custom-control-input" id="customSwitch3">
							<label class="custom-control-label" for="customSwitch3">Toggle this switch element</label>
						</li>
					</ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>


{% endblock %}
