{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for("static", filename="game.css") }}">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}


<div class="container d-flex flex-column">
	<div class="d-flex flex-column w-100" id="game-controls">
		<div class="card mb-auto text-center">
			<div class="card-body text-center">
				<div class="option-box" id="option-message"></h5>
					<h5 class="d-inline-block" id="option-score"></h5>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<h5 class="d-inline-block" id="option-clock"></h5>
				</div>
				<div class="form-group option-box" id="option-timer">
					<select class="form-control d-inline-block" id="countdown-minutes">
						<option value="1">{{ _("1 Minute") }}</option>
						<option value="2">{{ _("2 Minutes") }}</option>
						<option value="3">{{ _("3 Minutes") }}</option>
						<option value="4">{{ _("4 Minutes") }}</option>
						<option value="5" selected>{{ _("5 Minutes") }}</option>
						<option value="6">{{ _("6 Minutes") }}</option>
						<option value="7">{{ _("7 Minutes") }}</option>
						<option value="8">{{ _("8 Minutes") }}</option>
						<option value="9">{{ _("9 Minutes") }}</option>
						<option value="10">{{ _("10 Minutes") }}</option>
					</select>
					&nbsp;
					<button type="button" class="btn btn-dark d-inline-block" id="start-timer">{{ _("Start Timer") }}</button>
				</div>
				<button type="button" id="option-options" class="btn btn-dark option-box" data-toggle="modal"
				   data-target="#game-options">{{ _("Options") }}</button>
			</div>
			<div class="progress">
			  <div class="progress-bar bg-success" id="progress-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
			  <div class="progress-bar bg-danger" id="progress-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div>
	<div class="d-flex align-items-center w-100" id="game-container">
		<div class="d-flex flex-column w-100">
			<ul class="list-group list-group-horizontal-md game-item">
				<a href="#" class="list-group-item list-group-item-action"><span class="d-block game-label">{{ _("Subject") }}</span><span id="subject"></span></a>
				<a href="#" class="list-group-item list-group-item-action"><span class="d-block game-label">{{ _("Infinitive") }}</span><span id="infinitive"></span></a>
				<a href="#" class="list-group-item list-group-item-action"><span class="d-block game-label">{{ _("Mood") }}</span><span id="mood"></span></a>
				<a href="#" class="list-group-item list-group-item-action"><span class="d-block game-label">{{ _("Tense") }}</span><span id="tense"></span></a>
			</ul>
			<form id="submission">
				<div class="input-group mb-3 game-item">
					<input type="text" id="guess" class="form-control" aria-describedby="button-addon2" autocomplete="off">
						<div class="input-group-append">
							<button class="btn btn-primary" type="submit" id="submit">{{ _("Submit") }}</button>
						</div>
				</div>
			</form>
			<div id="answer-box" class="text-center" style="display:none">
				<ul class="list-group text-center answer-list">
					<li class="list-group-item"><span id="feedback"></span></li>
					<li class="list-group-item answer"><span id="answer"></span></li>
					<li class="list-group-item"><a id="translate" target="_new">{{ _("Google Translate") }}</a></li>
					<!-- <li class="list-group-item"><span id="kana"></span></li>-->
					<!-- <li class="list-group-item"><span id="romaji"></span></li>-->
				</ul>
			</div>
			<br>
			<button type="button" class="btn btn-primary" id="continue" style="display:none">Continue</button>
		</div>
	</div>
</div>
<div class="modal fade text-center" id="game-options" tabindex="-1" role="dialog" aria-labelledby="optionsModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="optionsModal">{{ _("Options") }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- <div class="custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" id="customSwitch1">
					<label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
				</div> -->
				{% if subjects %}
					<div class="dropdown d-inline-block">
						<button class="btn btn-secondary dropdown-toggle mt-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Subject
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							{% for subject in subjects %}
							<li class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input option subject" id="{{ subject }}">
								<label class="custom-control-label" for="{{ subject }}">{{ subject }}</label>
							</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
				<div class="dropdown d-inline-block">
					<button class="btn btn-secondary dropdown-toggle mt-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Mood
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% for mood in moods %}
						<li class="custom-control custom-switch">
							<input type="checkbox" class="custom-control-input option mood" id="{{ mood }}">
							<label class="custom-control-label" for="{{ mood }}">{{ mood }}</label>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="dropdown d-inline-block">
					<button class="btn btn-secondary dropdown-toggle mt-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Tense
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% for tense in tenses %}
						<li class="custom-control custom-switch">
							<input type="checkbox" class="custom-control-input option tense" id="{{ tense }}">
							<label class="custom-control-label" for="{{ tense }}">{{ tense }}</label>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="modal-footer text-center">
				<button type="button" class="btn btn-primary" id="save">{{ _("Save changes") }}</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="progress-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Score</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="progress-report"></p>
			</div>
			<div class="modal-footer">
				<button type="button" id="return-to-practice" class="btn btn-secondary" data-dismiss="modal">{{ _("Return to Practice") }}</button>
				<button type="button" id="play-again" class="btn btn-primary" data-dismiss="modal">{{ _("Play Again") }}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
<script src="{{ url_for("static", filename="game.js") }}"></script>
{% endblock %}
