html, body {
	height: 100%;
}

.container, #game-container {
	height: 80vh;
}

.clock {
	border: 2px solid rgba(0,0,0,0.7);
    padding: 0.5rem;
    border-radius: 10px;
    width: 100px;
}

.game-item, #game-controls {
	padding: 2% 0;
}

.dropdown-menu {
	padding: 0.5rem;
}

.form-control {
	width: 50%;
}

.option-box {
	display: inline-block;
	margin: 15px;
}

#option-timer {
	width: 40%;
}

#countdown-minutes {
	width: 60%;
}

@media screen and (max-width: 812px) {
	.list-group-horizontal-md {
		flex-direction: column;
	}
	.option-box {
		display: block;
	}
	.card-body {
		padding: 0.5rem;
	}
	#option-timer {
		width: 100%;
	}
	.option-box {
		margin: 0.25rem auto;
	}
}
