html, body {
	height: 100%;
}

.container, #game-container {
	height: 80vh;
}

.game-item, #game-controls {
	padding: 2% 0;
}

.card-body * {
	display: inline-block;
	width: 40%;
}

@media screen and (max-width: 812px) {
	.list-group-horizontal-md {
		flex-direction: column;
	}
}
